/* Fonts ( 1rem = 16px ) */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Variables */
:root {
  --darkViolet: hsl(256, 26%, 20%);
  --grayishBlue: hsl(216, 30%, 68%);
  --veryDarkViolet: hsl(270, 9%, 17%);
  --darkGrayishViolet: hsl(273, 4%, 51%);
  --veryLightGray: hsl(0, 0%, 98%);
}


/* General styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}

a {
  text-decoration: none;
}

button {
  margin-top: 0.625;
  width: 50%;
  padding: 0.875rem 1.875rem;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  color: var(--veryLightGray);
  background-color: transparent;
  border-color: var(--veryLightGray);
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}



/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

header img.logo {
  width: 6.875rem;
  height: 1.125rem;
}

.mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


/* Overlay styles */
.overlay {
  display: none;
  max-height: 36.625rem;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 5rem;
  left: 0;
  background-color: var(--veryDarkViolet);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 1.6875rem;
}

.overlay a {
  padding: 1.4375rem 0.5rem;
  text-decoration: none;
  color: var(--veryLightGray);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay img.bg-nav {
  width: 100%;
  position: absolute;
  top: 21.25rem;
  left: 0;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 1.25rem;
  }

  .overlay .closebtn {
    font-size: 2.5rem;
    top: 0.9375rem;
    right: 2.1875rem;
  }
}


/* Intro section styles */
.intro-img {
  height: 100vw;
  background: url('../images/image-intro-mobile.jpg') left/100% no-repeat;
  background-color: var(--veryDarkViolet);
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 31.25rem;
  background-color: var(--darkViolet);
}

.intro-text h1 {
  color: var(--veryLightGray);
  text-align: center;
  padding-top: 30%;
}

.intro-text p {
  color: var(--veryLightGray);
  text-align: center;
  padding: 1.5rem 1.8125rem;
}

.intro-left {
  position: absolute;
  top: 0;
  left: 0;
}

.intro-right {
  position: absolute;
  bottom: -35%;
  right: 0;
}


/* How We Work */
.how-we-work {
  position: relative;
  height: 1800px;
}

.how-we-work .container {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-we-work h1 {
  position: relative;
  margin: 140px auto;
  padding: 46px 36px;
}

.how-we-work h1::before {
  content: '';
  position: absolute;
  left: 25%;
  top: 0;
  border-top: 1px solid var(--darkViolet);
  width: 50%;
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
}

.card {
  height: 310px;
  width: 80%;
  margin: 0 auto;
}

.card h3 {
  padding: 15px;
}



/* Footer styles */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}






/* Screen Size styles */
/* max-width: 967px */
@media (max-width: 60.4375rem) {

  /* General styles */
  .hide-on-mobile {
    display: none;
  }


}

/* min-width: 968px */
@media (min-width: 60.5rem) {

  /* General styles */
  .hide-on-desktop {
    display: none;
  }

  .container,
  .intro .container {
    width: 75%;
    max-width: 695rem;
  }

  /* Header styles */
  .desktop-nav ul {
    display: flex;
    justify-content: space-between;
  }

  .desktop-nav ul li {
    margin-top: 0.875rem;
    align-items: center;
    justify-content: center;
    color: var(--grayishBlue);
    cursor: pointer;
  }

  .desktop-nav ul li:hover {
    color: var(--darkViolet);
    font-weight: 700;
  }

  .desktop-nav ul li:not(:last-child) {
    margin-right: 1.5rem;
  }

  .desktop-nav ul .cta {
    padding: 0.875rem 1.875rem;
    font-weight: 700;
    color: var(--darkViolet);
    background-color: transparent;
    cursor: pointer;
  }

  .desktop-nav ul .cta:hover {
    background-color: var(--darkViolet);
    color: var(--veryLightGray);
    font-weight: 700;
  }


  /* Overlay styles */
  .overlay {
    display: none;
  }

  .overlay .cta:hover {
    background-color: var(--veryDarkViolet);
    color: var(--veryLightGray);
    font-weight: 700;
  }


  /* Intro section styles */
  .intro {
    position: relative;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url(../images/bg-pattern-intro-right-desktop.svg) top right no-repeat, url(../images/bg-pattern-intro-left-desktop.svg) bottom -330px left no-repeat;
    background-color: var(--darkViolet);
  }

  .intro-text {
    position: absolute;
    top: 0;
    height: 37.5rem;
    width: 75%;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .intro-text h1 {
    color: var(--veryLightGray);
    text-align: left;
    padding-top: 30%;
  }

  .intro-text p {
    color: var(--veryLightGray);
    text-align: left;
    padding: 1.5rem 0;
  }

  .intro-img {
    height: 100%;
    position: absolute;
    top: 130px;
    width: 540px;
    background: url('../images/image-intro-desktop.jpg') left/100% no-repeat;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .intro button {
    width: 25%;
    padding: 0.75rem 1.625rem;
  }

  .how-we-work {
    height: 1350px;
    background: url(../images/bg-pattern-intro-left-desktop.svg) top -174px left no-repeat;
    z-index: 10;
  }

}