/* Fonts ( 1rem = 16px ) */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Variables */
:root {
  --darkViolet: hsl(256, 26%, 20%);
  --grayishBlue: hsl(216, 30%, 68%);
  --veryDarkViolet: hsl(270, 9%, 17%);
  --darkGrayishViolet: hsl(273, 4%, 51%);
  --veryLightGray: hsl(0, 0%, 98%);
}


/* General styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}



/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

header img.logo {
  width: 6.875rem;
  height: 1.125rem;
}

.mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


/* Overlay styles */
.overlay {
  display: none;
  max-height: 586px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 80px;
  left: 0;
  background-color: var(--veryDarkViolet);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 27px;
}

.overlay a {
  padding: 23px 8px;
  text-decoration: none;
  color: var(--veryLightGray);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .cta {
  margin-top: 10px;
  padding: 0.875rem 1.875rem;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: var(--veryLightGray);
  background-color: transparent;
  border-color: var(--veryLightGray);
  cursor: pointer;
}

.overlay .cta:hover {
  background-color: #000;
  color: var(--veryLightGray);
  font-weight: 700;
}

.overlay img.bg-nav {
  width: 100%;
  position: absolute;
  top: 340px;
  left: 0;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/* Info section styles */
.info-img {
  height: 100vw;
  background: url('../images/image-intro-mobile.jpg') left/100% no-repeat;
  background-color: var(--veryDarkViolet);
}


/* Footer styles */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}






/* Screen Size styles */
@media (max-width: 967px) {

  /* General styles */
  .hide-on-mobile {
    display: none;
  }


}


@media (min-width: 968px) {

  /* General styles */
  .hide-on-desktop {
    display: none;
  }

  .container {
    width: 75%;
    max-width: 1112px;
  }

  /* Header styles */
  .desktop-nav ul {
    display: flex;
    justify-content: space-between;
  }

  .desktop-nav ul li {
    margin-top: 0.875rem;
    align-items: center;
    justify-content: center;
    color: var(--grayishBlue);
    cursor: pointer;
  }

  .desktop-nav ul li:hover {
    color: var(--darkViolet);
    font-weight: 700;
  }

  .desktop-nav ul li:not(:last-child) {
    margin-right: 1.5rem;
  }

  .desktop-nav ul .cta {
    padding: 0.875rem 1.875rem;
    font-weight: 700;
    color: var(--darkViolet);
    background-color: transparent;
    cursor: pointer;
  }

  .desktop-nav ul .cta:hover {
    background-color: var(--darkViolet);
    color: var(--veryLightGray);
    font-weight: 700;
  }


  /* Overlay styles */
  .overlay {
    display: none;
  }


  /* Info section styles */


}